
#logo {
    width: 90px;
    height: 70px;
}

#buscador {
    width: 300rem;
}

@media screen and (max-width: 575px) {
    #buscador {
        width: 60%;
    }
}

.searchTerm {
    height: 40px;
    border-color: #f7941d;
    outline: none;
    color: #bf8751;
    margin-top: -7px;
    padding-left: 25px;
}

.searchTerm:focus {
    color: #11a89e;
}

#lupa {
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    width: 18px;
    height: 18px;
}

path {
    fill: gray;
}

#profile_img {
    width: 60px;
    height: 60px;
}

